.food{
    background-color: rgb(173, 11, 173);
    font-size: 40px;
}
.age{
    background-color: rgb(133, 16, 133);
    font-size: 40px;
}
.sleep{
    background-color: rgb(128, 13, 128);
    font-size: 40px;
}